name: test

on: [push, pull_request, release]

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        # 3.10 and 3.11 are not compatible with verilator (at the moment)
        # python-version: ["3.10", "3.11", "3.12"]
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install --no-cache-dir nox
      - name: Install Verilator
        run: sudo apt install verilator
      - name: NOX
        run: nox
      - name: Upload coverage data to coveralls.io
        run: nox -s dev -- coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.test-name }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Indicate completion to coveralls.io
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install --no-cache-dir nox
      - name: Upload coverage data to coveralls.io
        run: nox -s dev -- coveralls --service=github --finish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    if: github.event_name == 'push' && github.ref_type == 'tag'
    needs: coveralls
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: pdm-project/setup-pdm@v4
      - name: Publish package distributions to PyPI
        run: pdm publish
